html {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

:root {
    --color-primary: #222222;
    --color-secondary: #54595F;
    --color-text: #888888;
    --color-accent: #379CFB;
    --color-hover: #0F5BA4;
    --size-text-primary: 42px;
    --size-text-secondary: 18px;
    --size-text: 15px;
    --size-text-button: 14px;
    --size-text-weight-primary: 800;
    --size-text-weight-secondary: 600;
    --size-text-weight: 600;
    --size-text-weight-accent: 700;
    --size-button: medium;
}

body {
    background-color: white;
    font-family: 'Manrope', sans-serif;
    color: var(--color-text);
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

h1 {
    font-weight: var(--size-text-weight-primary);
    color: var(--color-primary);
    font-size: var(--size-text-primary);
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: var(--size-text-weight-secondary);
    color: var(--color-secondary);
    font-size: var(--size-text-weight-secondary);
    padding: 0;
    margin: 0;
}

p {
    font-weight: var(--size-text-weight);
    color: var(--color-text);
    font-size: var(--size-text);
    margin: 0;
}

#hey {
    padding-top: 130px;
    padding-bottom: 60px;
}

.container {
    width: 100%;
    display: flex;
}

#hey-box {
    width: 55%;
    padding-right: 40px;
    padding-left: 180px;
}

button {
    font-family: 'Manrope', sans-serif;
    font-size: var(--size-text-button);
    font-weight: var(--size-text-weight-accent);
    border-radius: 6px;
    border-style: none;
    background-color: var(--color-accent);
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #0F5BA4;
    transform: scale(1.1) rotate(5deg);
    transition-duration: 0.2s;
}

.menu-item {
    text-decoration: none;
    color: var(--color-primary);
    transition-duration: 0.2s;
    cursor: pointer;
    font-variation-settings: 'wght' 300, 'wdth' 300;
    font-size: 28px;
    margin-left: -40px;
}

.menu-item:hover {
    font-variation-settings: 'wght' 800, 'wdth' 800;
}

.primary-menu {
    font-family: 'Manrope', sans-serif;
}

ul {
    list-style-type: none;
}